* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.045); */
    display: flex;
    justify-content: center;
}

.reactpage {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.nav-bar {
    flex: 0.1;
    /* background-color: rgba(220, 220, 220, 0.083); */
    display: flex;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.482) inset;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.9;
}
.main-page{
    /* flex: 0.9; */
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    /* margin-top: 10vh; */
    align-items: center;
    justify-content: center;
}

/* dark mode */
body.darkmode {
    background-color: rgba(0, 0, 0, 0.876);
    color: white;
}

body.darkmode .m .main-page {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-self: center;
    flex: 0.9;
    /* background-color: tomato; */
}

body.darkmode #modal {
    background-color: rgba(0, 0, 255, 0.056);
}

body.darkmode .modal-content {
    background-color: rgba(0, 0, 0, 0.234);
}
body.darkmode h5:hover{
    background-color: rgba(255, 252, 252, 0.365);
    /* height: 3vh;
    width: 100%; */
}
body.darkmode h4:hover{
    background-color: rgba(255, 250, 250, 0.365);
    /* height: 3vh; */
}
body.darkmode .line{
    background-color: rgba(255, 255, 255, 0.165);
}
body.darkmode .learn> h4{
    color: rgba(255, 255, 255, 0.505);   
}
body.darkmode .learn> h5{
    color: rgba(255, 255, 255, 0.92);   
}
body.darkmode .started> h4{
    color: rgba(255, 255, 255, 0.505);   
}
body.darkmode .started> h5{
    color: rgba(255, 255, 255, 0.92);     
}
body.darkmode input{
    background-color: rgba(255, 255, 255, 0.223);
}
body.darkmode input::placeholder{
    color: white;
}

.search2 {
    display: none;
}


/* .img:hover {
    width: 30px;
    height: 30px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
} */

.nav-left {
    flex: 0.1;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
    column-gap: 3vh;
}

.nav-middle {
    /* background-color: firebrick; */
    flex: 0.7;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    height: 6.5vh;
    border-radius: 5vh;
    outline: none;
    border: none;
    padding-left: 40px;

    background-color: rgba(0, 0, 255, 0.082);
}

.search {
    position: absolute;
    margin-left: 2vh;
}

.nav-right {
    flex: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6vh;
    /* background-color: indianred; */

}

#list {
    /* background-color: pink; */
    padding-left: 4vh;
    flex: 0.2;
    display: flex;
    
}
h5:hover{
    background-color: rgba(0, 0, 0, 0.365);
    /* height: 3vh;
    width: 100%; */
}
h4:hover{
    background-color: rgba(0, 0, 0, 0.365);
    /* height: 3vh; */
}



.closemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    column-gap: 3vh;
}

#hell {
    display: none;
}

.git:hover {
    background-color: rgb(213, 196, 13);
    border-radius: 50%;
}

.v19 {
    font-size: 25px;
    width: bold;
}

.menu {
    display: none;
}

/* pop up message */

.popupmessage.show {
    display: block;
    opacity: 1;
    transition: transform 10s ease;
    transform-style: preserve-3d;
    transform-origin: center;
    /* font-size: 400px; */
}

.popupmessage {
    align-self: center;
    position: absolute;
    font-size: 2em;
    display: none;
    font-weight: bold;
    color: white;
    animation-name: mylogo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

/* .popupmessage */
.rotated {
    transform: rotateY(360deg);
}


/*  */




@keyframes mylogo {
    0% {
        opacity: 0;
        color: white;
    }

    30% {
        opacity: 0.3;
        color: #FFD700;
    }

    60% {
        opacity: 0.6;
        color: #00BFFF;
    }

    80% {
        opacity: 0.8;
        color: #fdd835;
    }

    100% {
        opacity: 1;
        color: #ffffff;
    }
}


/* modal */

#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.649);
    z-index: 1;
}

.modal-content {
    background-color: rgb(254, 254, 254);
    margin: 0.7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 90%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) inset;
}

.line {
    display: none;
    height: 1px;
    position: absolute;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    margin: 20px 0;
}
.lines{
    top: 17vh;
}
.learnLine{
    top: 42vh;
}

.started{
    /* display: none; */
    position: absolute;
    /* background-color: red; */
    margin-top: 1.5vh;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
    top: 5vh;
}
.started > h4{
    color: rgba(0, 0, 0, 0.349);
}
.started > h5{
    color: rgba(0, 0, 0, 0.652);
}
.learn{
    position: absolute;
    width: 100%;
    /* display: none; */
    top: 23vh;
    height: 22vh;
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
    /* background-color: red; */
}
.learn > h4{
    color: rgba(0, 0, 0, 0.349);
}
.learn > h5{
    color: rgba(0, 0, 0, 0.652);
}




@media screen and (max-width: 960px) {
    .main{
        display: none;
    }
    .menu {
        display: block;
    }

    #list {
        /* display: none; */
        /* background-color: red; */
        position: absolute;
        width: 100%;

    }
    .nav-right{
        flex: 0.2;
        column-gap: 4vh;
        /* background-color: yellow; */
    }


    .nav-middle {
        flex: 0.7;
        /* background-color: red; */

    }

    .nav-right1 {
        position: absolute;
        margin-top: 15vh;
        left: 2vh;
        width: 90%;
        background-color: red; 
        column-gap: 15vh;
    }
    .nav-middle{
        /* background-color: red; */
        flex: 0.8;
    }
.navmenu{
    box-shadow: 1px 1px 2px black inset;
    /* background-color: red; */
}

}


    

@media screen and (max-width: 650px) {
    input {
        display: none;
    }

    .search {
        display: none;
    }

    .search2 {
        display: block;
    }

    .nav-right {
        /* background-color: red; */
        column-gap: 3vh;
    }

    .nav-right1 {
        column-gap: 10vh;
    }
    .popupmessage{
        font-size: 22px;
    }
    #list{
        flex: 0.2;
    }
    .nav-right{
        flex: 0.2;
    }
    .main{
        display: flex;
    }
}
@media screen and (max-width: 400px) {
    .nav-right1 {
        font-size: 16px; 
        column-gap: 5vh;
    }
}